<!--
<h1>Hello world</h1>
<p>Hello world</p>

<div id="block-recentlyaccesseditems-{{uniqid}}" class="block-recentlyaccesseditems block-cards" data-region="recentlyaccesseditems">
    <div class="container-fluid p-0">
        {{> block_recentlyaccesseditems/recentlyaccesseditems-view }}
    </div>
</div>
-->

<h1>Authentication method: {{auth}}</h1>
<h3>Username: {{username}}</h3>
<h3>Firstname: {{firstname}}</h3>
<h3>Lastname: {{lastname}}</h3>
<h3>Email: {{email}}</h3>
<h3>City: {{city}}</h3>
<h3>Last login: {{lastlogin}}</h3>
<h3>First access: {{firstaccess}}</h3>