<div class='container-fluid' id='user_overview_block'>
  <div class='row'>
    <img src={{profilepictureurl}}>
  </div>
  <div class='row'>
    <h2>{{fullname}}</h2>
  </div>
  <div class='row'>
    <h6>{{email}}</h2>
  </div>
  <div class='row'>
    {{#validcourseslink}}
      <a href={{mycoursesurl}} class="btn btn-primary" role="button">{{coursecount}}</a>
    {{/validcourseslink}}
    {{^validcourseslink}}
      <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">No enrolled courses</a>
    {{/validcourseslink}}
  </div>
  <div class='row'>
    <a href={{profileurl}} class="btn btn-secondary" role="button" aria-disabled="true">Edit Profile</a>
  </div>
</div>